	#page-wrap{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		font-family: Calibri;
	}
	table{
		width: 75%;
		border-top: 1px solid #f2f2f2; 
		border-bottom: 1px solid #f2f2f2;
	}
	p{
		width: 75%;
	}
	<!--
	#top-menu{
		background-color: #f2f2f2;
		width: 750px;
	}
	#global-nav{
		background-color: #ffffff;
		width: 250px;
		text-align: right;
	}
	-->
	#corporate-menu{
		width: 75%;
		border-top: 3px solid #f2f2f2;
		border-bottom: 3px solid #f2f2f2;
	}
	#selected-menu{
		border-bottom: 1px solid red;
	}